<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    {% block content %}
        <div>
            <h1>Login</h1>
            <br/><br/>
            <form action="/" METHOD="POST">
                <input type="text" placeholder="User ID" name="userid">
                <input type="text" placeholder="Password" name="password">
                <input type="submit" value="Submit">
            </form>
        </div>
    {% endblock %}
</body>
</html>