<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books I Own</title>
</head>
<body>
    {% block content %}
        <div>
            <h4>SEARCH FOR A BOOK</h4>
            <br/><br/>
            <form action="/searchbook" METHOD="POST">
                <input type="text" placeholder="ISBN" name="ISBN">
                <input type="submit" value="Search">
            </form>
        </div>
    <br/><br/>
        <div>
            <h4>{{ title }} by {{ author }} , {{ pagecount }} pages</h4>
            <h4>{{ error }}</h4>
            <form action="/addbook" METHOD="POST">
                <input type="submit" value="Add this book to My Books" name="add">
            </form>
        </div>
        <br/><br/>
        <a href="/dashboard">Back to My Book List</a>
    {% endblock %}

    </br></br>
</body>
</html>